/** Plugin home page */
.bp-home-page {
    line-height: 18px;
}
.bp-home-page strong { font-weight: bold }
.bp-home-page p { margin: 0 0 18px; }
.bp-home-page li {
    margin: 0 0 8px;
    background: url("../images/icon_list-bullet.png") no-repeat 0 2px;
    padding: 0 0 0 25px;
}
.bp-home-page .content { width: 50% }
.bp-home-page .headline {
    font-size: 21px;
    line-height: 26px;
    margin: 0 0 18px;
}

.bp-home-page .logo {
    float: right;
    max-width: 380px;
    max-height: 350px;
}

/** General info text */
.connect-info {
    line-height: 18px;
}
.connect-info strong { font-weight: bold }
.connect-info p { margin: 0 0 18px; }
.connect-info li {
    margin: 0 0 8px;
    background: url("../images/icon_list-bullet.png") no-repeat 0 2px;
    padding: 0 0 0 25px;
}
.connect-info li.question {
    margin: 0 0 8px;
    background: url("../images/icon_list-question.png") no-repeat 0 2px;
    padding: 0 0 0 25px;
}
.connect-info .content { width: 100% }
.connect-info .headline {
    font-size: 21px;
    line-height: 26px;
    margin: 0 0 18px;
}

/** Configuration */
div[id^=connect-window] div[id^=connect-config] .x-window-body-default {
    border: 0 none;
    -webkit-box-shadow: 0 0 0 transparent;
    -moz-box-shadow: 0 0 0 transparent;
    -ms-box-shadow: 0 0 0 transparent;
    box-shadow: 0 0 0 transparent;
}

div[id^=connect-window] div[id^=base-element-fieldset] {
    background: #f0f2f4;
    -webkit-box-shadow: 0 0 0 transparent;
    -moz-box-shadow: 0 0 0 transparent;
    -ms-box-shadow: 0 0 0 transparent;
    box-shadow: 0 0 0 transparent;
}
table[id^=base-element-fieldset] tbody + tbody .x-btn {
    margin: 0 0 18px;
}
.ul-disc-type-holder ol li {
    list-style:decimal;
}
.ul-disc-type-holder ul li {
    list-style:disc;
}
.ul-disc-type-holder ul ul li {
    list-style:circle;
}
.ul-disc-type-holder ul, .ul-disc-type-holder ol {
    padding-left: 2em;
}

.import-arrow {
    background: url("../images/import_arrow.png") no-repeat;
    height: 100%;
}

.tree-table-toolbar {
    border-top: 1px solid #a3b5c1 !important;
    border-right: 1px solid #a3b5c1 !important;
}

.unassign-arrow {
    background: url("../images/unassign_arrow.png") no-repeat;
    height: 100%;
}

.sc-icon {
    background: url("../images/shopware_connect.png") no-repeat !important;
    height: 100%;
}

.sc-icon-export {
    background: url("../images/icon_export.png") no-repeat;
    height: 100%;
}

.sc-icon-import {
    background: url("../images/icon_import.png") no-repeat;
    height: 100%;
}

.sc-icon-inactive {
    background: url("../images/icon_inactive.png") no-repeat;
    height: 100%;
}

.sc-icon-custom-product {
    background: url("../images/icon-custom-product.png") no-repeat;
    height: 100%;
}

.local-product-color {
    color: #000000;
}

.shopware-connect-color {
    color: #486783 !important;
}

.sc-btn-right {
    float: right;
}

.sc-tree-node{
    font-weight: bold !important;
}

.sc-tree-node-icon {
    width: 16px !important;
    height: 16px !important;
}

.sc-tree-node.inactive{
    opacity: 0.4;
}

.export-window-wrapper {
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    z-index: 2;
}
.export-window-mask {
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
}

.sc-transparency {
    /* This works in IE 8 & 9 too */
    /* ... but also 5, 6, 7 */
    filter: alpha(opacity=50);

    /* Older than Firefox 0.9 */
    -moz-opacity:0.50;

    /* Safari 1.x (pre WebKit!) */
    -khtml-opacity: 0.50;

    /* Modern!
    /* Firefox 0.9+, Safari 2?, Chrome any?
    /* Opera 9+, IE 9+ */
    opacity: 0.50;
}

.sc-transparency-color {
    color:#a2adb4;
}

.export-window-message-wrapper {
    position: absolute;
    top: 45%;
    text-align: center;
    right: 7%;
    z-index: 3;
}

.export-window-message {
    float: left;
    color: black;
    margin: 25px 0 0 15px
}

.connect-wrench {
    background: url("../images/wrench.png") no-repeat;
    height: 65px;
    width: 65px;
    margin: 0 auto;
    float: left;
}

.connect-checkbox-label {
    padding: 3px 0 0 20px;
    margin: 0 0 0 5px;
    display: inline-block;
    height: 16px;
}

.sc-export-status {
    position: absolute;
    right: 10px;
    top: 40px;
    z-index: 2;
    text-shadow: 0 1px 0 #fdfdfd;
    color: #475c6a;
    font-family: Arial,Verdana,sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 17px;
}

@-moz-document url-prefix() {
    .connect-checkbox-label{
        padding: 0 0 0 20px;
    }
}

.fieldset-label-icon {
    height: 16px;
    padding-left: 20px;
}
