parameters:
    excludes_analyse:
        - Library
        - Tests/Bootstrap.php
        - vendor
        - .githooks
    autoload_files:
        - vendor/autoload.php
        - autoload_bootstrap.php