<?xml version="1.0"?>
<phpunit bootstrap="Tests/Bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="SwagConnect legacy">
            <directory>Tests/Legacy/</directory>
        </testsuite>

        <testsuite name="SwagConnect unit">
            <directory>Tests/Unit/</directory>
        </testsuite>

        <testsuite name="SwagConnect integration">
            <directory>Tests/Integration/</directory>
        </testsuite>

        <testsuite name="SwagConnect functional">
            <directory>Tests/Functional/</directory>
        </testsuite>

        <testsuite name="SwagConnect regression">
            <directory>Tests/Regression/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">./</directory>
            <exclude>
                <directory>./Tests</directory>
                <directory>./vendor</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
