<?xml version="1.0"?>
<phpunit bootstrap="./Tests/Legacy/Shopware/Connect/Bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="Shopware Connect Plugin">
            <directory>Tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">./</directory>
            <exclude>
                <directory>./Tests</directory>
                <directory>./vendor</directory>
                <directory>Library</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
