.table .table_row .checkout_item_bepado {
    float: left;
    width: 18px;
    border-right: 1px dashed #DFDFDF;
    display: block;
    margin: -36px 0 0 -10px;
    padding-bottom: 9999em;
    margin-bottom: -9999em;
}
.table .table_row .checkout_item_bepado span {
    background:  url('../images/bg_marketplace.png') center center no-repeat;
    width: 20px;
    height: 75px;
    position: absolute;
    top: 50%;
    margin-top: -36px
}
#content #confirm .table .table_row .checkout_item_bepado { height: 158px }
#content #confirm .table .table_row { overflow: hidden }
#content #confirm .table .table_row .main-article-features { padding-left: 15px }

/** Splitting the basket */
#content .table .table_row + .table_head { margin: 1.4em 0 0 !important }
.bepado-additional-info-checkout {
    position: absolute;
    margin: -28px 0 0 25px;
}
.label-separate-dispatch {
    background: #e1540f;
    display: inline-block;
    padding: 2px 4px;
    color: #fff;
    text-transform: uppercase;
    font-size: 10px;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin: 0 4px 0 0;
}
.display-shop-name {
    display: inline-block;
    font-size: 11px;
    color: #888;
}

/** Detail section */
.bepado-detail-product {
    margin: .8em 0 0;
    background: #f5f5f5;
    border: 1px solid #dedede;
    padding: 18px;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
#buybox .bepado-detail-product #basketButton { width: 255px }
.bepado-detail-product-headline {
    display: block;
    color: #333;
    margin: 1.2em 0 .8em;
    text-shadow: 0 1px 0 #fff;
}
.bepado-detail-product-desc {
    color: #888;
    text-shadow: 0 1px 0 #fff;
}


/*
 * Bepado Search
 * last edit: 2013/06/03
 * by PSC
 */
.bepado-article {
    margin:0px 20px 10px 0px;
    border:1px solid #DFDFDF;
}
.bepado-article .bepado-img {
    width:100px;
    height:100px;
    margin:0px 20px 0px 0px;
    text-align:center;
    float:left;
}
.bepado-img img {
    max-height: 100px;
    max-width: 100px;
}

.bepado-article h4 {
    padding:10px 0px 20px 0px;
}
.bepado-article p {
    margin:0px 0px 10px 0px;
    font-size:12px;
}
.bepado-article a.bepado-title {
    font-size:14px;
    font-weight:bold;
}
.bepado-article .bepado-info {
    width:450px;
    float:left;
}
.bepado-article .bepado-meta {
    width:150px;
    padding:50px 10px 0px 0px;
    float:right;
}
.bepado-article .bepado-meta .bepado-price {
    margin:0px 0px 20px 0px;
    font-size:16px;
    color:#333333;
}
.bepado-clear {clear:both;}
.bepado-dispatch-row {
    padding: 10px 0 !important;
    background: #fff url("../images/ico-basket_voucher.png") no-repeat 20px 20px !important;
    min-height: 45px !important;
}
.bepado-dispatch-row .title {
    position: absolute;
    top: 14px;
    left: 95px;
}
#confirm .bepado-dispatch-row .title {
    top: 0;
}

/** Shipping costs */
.bepado-shipping-free-info {
    font-weight: bold;
    text-align: center;
}
.bepado-shipping-rule th, td, table{
    float:left;
    table-layout: fixed;
    width: 100px;

}