/** Plugin home page */
.bepado-home-page {
    line-height: 18px;
    background: url("../images/bepado_plugin_logo.png") no-repeat 78% 20%;
}
.bepado-home-page strong { font-weight: bold }
.bepado-home-page p { margin: 0 0 18px; }
.bepado-home-page li {
    margin: 0 0 8px;
    background: url("../images/icon_list-bullet.png") no-repeat 0 2px;
    padding: 0 0 0 25px;
}
.bepado-home-page .content { width: 50% }
.bepado-home-page .headline {
    font-size: 21px;
    line-height: 26px;
    margin: 0 0 18px;
}

/** General info text */
.bepado-info {
    line-height: 18px;
}
.bepado-info strong { font-weight: bold }
.bepado-info p { margin: 0 0 18px; }
.bepado-info li {
    margin: 0 0 8px;
    background: url("../images/icon_list-bullet.png") no-repeat 0 2px;
    padding: 0 0 0 25px;
}
.bepado-info li.question {
    margin: 0 0 8px;
    background: url("../images/icon_list-question.png") no-repeat 0 2px;
    padding: 0 0 0 25px;
}
.bepado-info .content { width: 100% }
.bepado-info .headline {
    font-size: 21px;
    line-height: 26px;
    margin: 0 0 18px;
}

/** Configuration */
div[id^=bepado-window] div[id^=bepado-config] .x-window-body-default {
    border: 0 none;
    -webkit-box-shadow: 0 0 0 transparent;
    -moz-box-shadow: 0 0 0 transparent;
    -ms-box-shadow: 0 0 0 transparent;
    box-shadow: 0 0 0 transparent;
}

div[id^=bepado-window] div[id^=base-element-fieldset] {
    background: #f0f2f4;
    -webkit-box-shadow: 0 0 0 transparent;
    -moz-box-shadow: 0 0 0 transparent;
    -ms-box-shadow: 0 0 0 transparent;
    box-shadow: 0 0 0 transparent;
}
table[id^=base-element-fieldset] tbody + tbody .x-btn {
    margin: 0 0 18px;
}