/** Detail section */
.bepado-detail-product {
    margin: .8em 0 0;
    background: #f5f5f5;
    border: 1px solid #dedede;
    padding: 18px;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#buybox .bepado-detail-product #basketButton {
    width: 255px
}

.bepado-detail-product-headline {
    display: block;
    color: #333;
    margin: 1.2em 0 .8em;
    text-shadow: 0 1px 0 #fff;
}

.bepado-detail-product-desc {
    color: #888;
    text-shadow: 0 1px 0 #fff;
}

/*
 * Bepado Search
 * last edit: 2013/06/03
 * by PSC
 */
.bepado-article {
    margin: 0px 20px 10px 0px;
    border: 1px solid #DFDFDF;
}

.bepado-article .bepado-img {
    width: 100px;
    height: 100px;
    margin: 0px 20px 0px 0px;
    text-align: center;
    float: left;
}

.bepado-img img {
    max-height: 100px;
    max-width: 100px;
}

.bepado-article h4 {
    padding: 10px 0px 20px 0px;
}

.bepado-article p {
    margin: 0px 0px 10px 0px;
    font-size: 12px;
}

.bepado-article a.bepado-title {
    font-size: 14px;
    font-weight: bold;
}

.bepado-article .bepado-info {
    width: 450px;
    float: left;
}

.bepado-article .bepado-meta {
    width: 150px;
    padding: 50px 10px 0px 0px;
    float: right;
}

.bepado-article .bepado-meta .bepado-price {
    margin: 0px 0px 20px 0px;
    font-size: 16px;
    color: #333333;
}

.bepado-clear {
    clear: both;
}

.bepado-dispatch-row {
    padding: 10px 0 !important;
    background: #fff url("../images/ico-basket_voucher.png") no-repeat 20px 20px !important;
    min-height: 45px !important;
}

.bepado-dispatch-row .title {
    position: absolute;
    top: 14px;
    left: 95px;
}

#confirm .bepado-dispatch-row .title {
    top: 0;
}

/**
 *
 * Bepado dispatch rule page
 *
 */
.dispatch-ruletable {
    width: 400px !important;
}

.dispatch-ruletable th,
.dispatch-ruletable td {
    width: 80px;
}

.bepado_collapsible h2 {
    cursor: pointer;
}

/** Rotated by 90° */
.bepado_collapsible h2 b {
    display: inline-block;
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}

/** No rotation */
.bepado_collapsible .collapsed {
    display: inline-block;
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}

/** Styling for the content area */
.bepado_collapsible .content {
    padding-left: 20px;
}

.bepado_collapsible .hidden-content {
    display: none;
    padding-left: 20px;
}

.outer-confirm-container .label-separate-dispatch {
    margin-left: 10px;
}

.outer-confirm-container .no_image {
    float: left;
}